@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

}

html {
    height: 100vh;
}

.test {
    height: calc(100% - 100px);
}
